@model CompetitionDomain.Model.Distance

@{
    ViewData["Title"] = "Деталі";
}

<h2>Деталі</h2>

<div>
    <h4>Дистанція</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Style)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Style)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Деталі</a> |
    <a asp-action="Index">Повернутися до списку</a>
</div>
