@model CompetitionDomain.Model.Swim

@{
    ViewData["Title"] = "Змінити";
}

<h2>Змінити</h2>

<h4>Заплив</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DistanceId" class="control-label"></label>
                <select asp-for="DistanceId" class="form-control" asp-items="ViewBag.DistanceId"></select>
                <span asp-validation-for="DistanceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionId" class="control-label"></label>
                <select asp-for="CompetitionId" class="form-control" asp-items="ViewBag.CompetitionId"></select>
                <span asp-validation-for="CompetitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwimNumber" class="control-label"></label>
                <input asp-for="SwimNumber" class="form-control" />
                <span asp-validation-for="SwimNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
